{% assign group_index = 0 %}

{% assign sorted_categories = site.categories | sort %}

{% if sorted_categories.size > 0 %}
  <section>
    <h2 class="panel-heading"><a href="/categories">{{- site.data.locales[include.lang].tabs.categories -}}</a></h2>
    <div class="d-flex flex-wrap mt-3 mb-1 me-3">
      {% for c in sorted_categories %}
        {% assign category_name = c | first %}
        {% assign url = category_name | slugify | url_encode | prepend: '/categories/' | append: '/' %}
        <a class="post-tag btn btn-outline-primary" href="{{ url | relative_url }}">{{ category_name }}</a>
      {% endfor %}
    </div>
  </section>
{% endif %}
